/* MacBook Pro */
#n159_75 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgb(255, 255, 255);
}
 
	/* ls-dropdown */
	#n216_31 {
		width: 19px;
		height: 21px;
		overflow: hidden;
		left: 1183px;
		top: 733px;
	}
			/* Rectangle 2.1 */
			#n159_78 {
				background: url("https://s3-alpha-sig.figma.com/img/1bfd/46f1/d4de773f4da824c23ad960a93c585ee8?Expires=1570406400&Signature=bi-CHCG3tMO44ZINsjuLzVGTAD~HRP2Kb4So6KTd9n1QdR8k~mzs0ZMg7dFX0-vOIjCgNVLbmRKewLnkLac-QJ-KuXt~oJkn-GZQcYOP527HCarwnMnLUSQyjClcU-ih-j6ZYm90JAVxxeGc03qRtVggAnK38R2iMY4tcwI5BcgbNrLiRkr80I7BW74R5WL2KMiewQ8WesKpvw2Ff8-OEIcXXrbOiu0l2vXnygzf2r7MVxgUw4-k4eMLfGyuyTbY9-dNtZIje4WWxCnchrjFItfkLLhK4KM-s85UJLGBXNrLZKHu0zsUQN4oaO9WqHgmj8bQUQRnzgjVONYWZ-iW8Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA") center center / cover no-repeat rgb(142, 207, 169);
				left: -249px;
				width: 530px;
				top: -4px;
				height: 905px;
			}
 
			/* Frame */
			#n226_173 {
				width: 169px;
				height: 47px;
				overflow: hidden;
				left: 1204px;
				top: 36px;
			}
  
							/* Vector */
							#n226_177 {
								left: -0.00532703%;
								right: 90.408%;
								top: -0.02%;
								bottom: 73.86%;
							}
  
							/* Vector */
							#n226_179 {
								left: 10.5849%;
								right: 66.0786%;
								top: 7.61%;
								bottom: 81.47%;
							}
 
							/* Vector */
							#n226_181 {
								left: -0.0047853%;
								right: 90.4075%;
								top: 73.84%;
							}
 
 
							/* Vector */
							#n226_183 {
								left: 10.5849%;
								right: 66.0786%;
								top: 81.47%;
								bottom: 7.61%;
							}
 
 
							/* Vector */
							#n226_185 {
								right: 76.6635%;
								top: 44.54%;
								bottom: 44.54%;
							}
 
 
							/* Vector */
							#n226_187 {
								left: 30.8725%;
								right: 66.0978%;
								top: 44.54%;
								bottom: 44.54%;
							}
 
 
 
							/* Vector */
							#n226_190 {
								left: 40.5944%;
								right: 45.3499%;
								top: 8.58%;
								bottom: 36.58%;
							}
 
							/* Vector */
							#n226_191 {
								left: 57.699%;
								right: 30.163%;
								top: 8.58%;
								bottom: 36.51%;
							}
 
							/* Vector */
							#n226_192 {
								left: 72.3107%;
								right: 14.3816%;
								top: 8.58%;
								bottom: 36.58%;
							}
 
							/* Vector */
							#n226_193 {
								left: 87.8811%;
								right: -0.0191863%;
								top: 8.58%;
								bottom: 36.51%;
							}
 
 
							/* Vector */
							#n226_195 {
								left: 39.3864%;
								right: 55.9348%;
								top: 78.42%;
								bottom: 2.56%;
							}
 
							/* Vector */
							#n226_196 {
								left: 45.0048%;
								right: 49.5302%;
								top: 78.42%;
								bottom: 2.56%;
							}
 
							/* Vector */
							#n226_197 {
								left: 50.6807%;
								right: 44.0268%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_198 {
								left: 56.7785%;
								right: 40.326%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_199 {
								left: 61.9751%;
								right: 34.0173%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_200 {
								left: 66.8648%;
								right: 29.0508%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_201 {
								left: 71.4861%;
								right: 23.2215%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_202 {
								left: 76.9703%;
								right: 18.3893%;
								top: 78.28%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_203 {
								left: 82.7037%;
								right: 13.0393%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_204 {
								left: 87.9194%;
								right: 8.43722%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
							/* Vector */
							#n226_205 {
								left: 92.7901%;
								right: 3.10641%;
								top: 78.49%;
								bottom: 2.7%;
							}
 
					/* Hi, Adetoun */
					#n226_208 {
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 0.161513px;
						color: rgb(27, 35, 38);
						vertical-align: middle;
						justify-content: flex-end;
						width: 79px;
						transform: translate(0px, 0px);
						line-height: 16.4063px;
						height: 20px;
						right: 1170px;
						top: 50px;
					}
 
					/* detoun.abimbola@gmail.com */
					#n226_209 {
						font-family: "Open Sans";
						font-size: 12px;
						font-weight: 400;
						letter-spacing: 0.13844px;
						color: rgb(235, 87, 87);
						vertical-align: middle;
						justify-content: flex-start;
						width: 169px;
						transform: translate(0px, 0px);
						line-height: 14.0625px;
						height: 17px;
						right: 1169px;
						top: 66px;
					}
 
				/* Ellipse */
				#n226_210 {
					width: 48px;
					height: 48px;
					right: 1104px;
					top: 42px;
				}
				/* Shadow 2.3 */
				#n159_93 {
					border-radius: 6px 6px 0px 0px;
					box-shadow: rgb(98, 130, 56) 0px 0px 0px 1px inset;
					right: 396px;
					width: 149px;
					top: 150px;
					height: 48px;
				}
 
				/* 23,225,000.00 */
				#n159_95 {
					font-family: "Open Sans";
					font-size: 28px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(27, 34, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 68px;
					line-height: 37.8px;
					height: 38px;
					right: 425px;
					top: 155px;
				}
 
				/* fa-solid:plus */
				#n159_96 {
					width: 18px;
					height: 18px;
					overflow: hidden;
					left: 924px;
					top: 166px;
				}
 
 
			/* Shadow 2.7 */
			#n159_99 {
				border-radius: 6px 6px 0px 0px;
				box-shadow: rgb(98, 130, 56) 0px 0px 0px 1px inset;
				right: 235px;
				width: 149px;
				top: 150px;
				height: 48px;
			}
				/* 23,225,000.00 */
				#n159_101 {
					font-family: "Open Sans";
					font-size: 28px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(27, 34, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 89px;
					line-height: 37.8px;
					height: 38px;
					right: 247px;
					top: 155px;
				}
 
				/* flat-ui:graph */
				#n159_102 {
					width: 25px;
					height: 25px;
					overflow: hidden;
					left: 1065px;
					top: 162px;
				}
 
					/* Vector */
					#n159_103 {
						left: 20%;
						right: 20%;
					}
 
					/* Vector */
					#n159_104 {
						top: 10%;
						bottom: 28%;
					}
 
					/* Vector */
					#n159_105 {
						left: 10%;
						right: 10%;
						top: 21%;
						bottom: 39%;
					}
 
					/* Vector */
					#n159_106 {
						left: 26.24%;
						right: 26.24%;
						top: 72%;
						bottom: 26%;
					}

			/* Shadow 2.8 */
			#n159_108 {
				border-radius: 6px 6px 0px 0px;
				box-shadow: rgb(98, 130, 56) 0px 0px 0px 1px inset;
				right: 69px;
				width: 152px;
				top: 150px;
				height: 48px;
			}
				/* 23,225,000.00 */
				#n159_110 {
					font-family: "Open Sans";
					font-size: 28px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(27, 34, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 104px;
					line-height: 37.8px;
					height: 38px;
					right: 79px;
					top: 155px;
				}
 
				/* Vector */
				#n159_111 {
					left: 85.4167%;
					right: 13.3333%;
					top: 18.56%;
					bottom: 79.22%;
				}
 
	/* Rectangle 2 */
	#n159_126 {
		background: rgb(245, 244, 240);
		border-radius: 10px 0px 10px 10px;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 6px 0px;
		left: 157px;
		width: 1214px;
		top: 198px;
		height: 673px;
	}
			/* 23,225,000.00 */
			#n159_199 {
				font-family: "Open Sans";
				font-size: 35px;
				font-weight: 600;
				letter-spacing: 0px;
				color: rgb(27, 35, 38);
				vertical-align: middle;
				justify-content: flex-start;
				width: 94px;
				line-height: 47.25px;
				height: 48px;
				right: 1069px;
				top: 236px;
			}
 
			/* flat-ui:goal */
			#n159_200 {
				width: 30px;
				height: 30px;
				overflow: hidden;
				left: 230px;
				top: 245px;
			}
 
				/* Vector */
				#n159_201 {
					right: 1.96079%;
					top: 1.96%;
				}
 
				/* Vector */
				#n159_202 {
					left: 1.96075%;
					right: 0.0000317891%;
					bottom: 1.96%;
				}
 
				/* Vector */
				#n159_203 {
					left: 11.7647%;
					right: 9.80389%;
					top: 9.8%;
					bottom: 11.76%;
				}
 
				/* Vector */
				#n159_204 {
					left: 21.5686%;
					right: 19.6079%;
					top: 19.61%;
					bottom: 21.57%;
				}
 
				/* Vector */
				#n159_205 {
					left: 31.3726%;
					right: 29.4117%;
					top: 29.41%;
					bottom: 31.37%;
				}
 
				/* Vector */
				#n159_206 {
					left: 41.1765%;
					right: 39.2157%;
					top: 39.22%;
					bottom: 41.18%;
				}
 
				/* Vector */
				#n159_207 {
					left: 74.5098%;
					right: 0.0000190735%;
					top: 72.55%;
					bottom: 14.71%;
				}
 
				/* Vector */
				#n159_208 {
					left: 74.5098%;
					right: 12.7451%;
					top: 72.55%;
					bottom: 1.96%;
				}
 
				/* Vector */
				#n159_209 {
					left: 74.5098%;
					right: 0.0000190735%;
					top: 72.55%;
					bottom: 14.71%;
				}
 
				/* Vector */
				#n159_210 {
					left: 14.8245%;
					right: 48.0216%;
					top: 47.04%;
					bottom: 15.78%;
				}
 
				/* Vector */
				#n159_211 {
					left: 49.5367%;
					right: 9.93789%;
					top: 47.58%;
					bottom: 11.87%;
				}
 
 
 
			/* Rectangle 3 */
			#n233_175 {
				background: rgb(252, 254, 255);
				box-shadow: rgb(195, 195, 185) 0px 0px 0px 1px inset;
				left: 228px;
				width: 1078.91px;
				top: 429px;
				height: 74px;
			}
 
 
				/* 23,225,000.00 */
				#n233_177 {
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: 700;
					letter-spacing: 0px;
					color: rgb(27, 35, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 228.566px;
					line-height: 27px;
					height: 21.8919px;
					right: 968.907px;
					top: 451.351px;
				}
 
				/* Updated 45min ago */
				#n233_178 {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(52, 66, 72);
					vertical-align: middle;
					justify-content: flex-start;
					width: 201.968px;
					transform: translate(0px, 0px);
					line-height: 16.4063px;
					height: 21.8919px;
					right: 994.382px;
					top: 474.108px;
				}
 
 
 
					/* ls-dropdown */
					#n233_181 {
						width: 19.8829px;
						height: 17.027px;
						overflow: hidden;
						left: 1251.19px;
						top: 450px;
					}
 
						/* Vector */
						#n233_182 {
							right: 0.141553%;
							top: 23.94%;
							bottom: 12.26%;
						}
 
					/* 23,225,000.00 */
					#n233_183 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: 700;
						letter-spacing: 0px;
						color: rgb(158, 182, 128);
						vertical-align: middle;
						justify-content: flex-end;
						width: 321.265px;
						line-height: 27px;
						height: 21.8919px;
						right: 209.735px;
						top: 450px;
					}
 
 
 
						/* 23,225,000.00 */
						#n233_186 {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: 400;
							letter-spacing: 0px;
							color: rgb(27, 35, 38);
							vertical-align: middle;
							justify-content: flex-end;
							width: 236px;
							line-height: 27px;
							height: 27px;
							left: 678px;
							top: 448px;
						}
 
 
							/* Rectangle 4.1 */
							#n233_188 {
								left: 721px;
								width: 60px;
								top: 448px;
								height: 26px;
							}
 
							/* Rectangle 3 */
							#n233_189 {
								box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
								left: 720px;
								width: 204px;
								top: 447px;
								height: 28px;
							}
 
 
			/* Rectangle 3 */
			#n233_192 {
				background: rgb(252, 254, 255);
				box-shadow: rgb(195, 195, 185) 0px 0px 0px 1px inset;
				left: 228px;
				width: 1078.91px;
				top: 541px;
				height: 74px;
			}
 
 
				/* 23,225,000.00 */
				#n233_194 {
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: 700;
					letter-spacing: 0px;
					color: rgb(27, 35, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 283px;
					line-height: 27px;
					height: 31px;
					right: 914px;
					top: 555px;
				}
 
				/* Created 4hrs ago */
				#n233_195 {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(52, 66, 72);
					vertical-align: middle;
					justify-content: flex-start;
					width: 201.968px;
					transform: translate(0px, 0px);
					line-height: 16.4063px;
					height: 27px;
					right: 995.032px;
					top: 588px;
				}
 
 
 
					/* ls-dropdown */
					#n233_198 {
						width: 19.8829px;
						height: 21px;
						overflow: hidden;
						left: 1251.79px;
						top: 573px;
					}
 
						/* Vector */
						#n233_199 {
							right: 0.141553%;
							top: 23.94%;
							bottom: 12.26%;
						}
 
					/* 23,225,000.00 */
					#n233_200 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: 700;
						letter-spacing: 0px;
						color: rgb(158, 182, 128);
						vertical-align: middle;
						justify-content: flex-end;
						width: 261.617px;
						line-height: 27px;
						height: 27px;
						right: 212.275px;
						top: 570px;
					}
 
 
 
						/* 23,225,000.00 */
						#n233_203 {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: 400;
							letter-spacing: 0px;
							color: rgb(27, 35, 38);
							vertical-align: middle;
							justify-content: flex-end;
							width: 236px;
							line-height: 27px;
							height: 27px;
							left: 678.349px;
							top: 570px;
						}
 
 
 
 
 
										/* Rectangle 3 */
										#n233_208 {
											box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
											left: 720.349px;
											width: 204px;
											top: 569px;
											height: 28px;
										}
 
										/* Rectangle 4 */
										#n233_209 {
											background: rgb(98, 130, 57);
											left: 721.349px;
											width: 120px;
											top: 570px;
											height: 26px;
										}
 
 
			/* Rectangle 3 */
			#n233_212 {
				background: rgb(252, 254, 255);
				box-shadow: rgb(195, 195, 185) 0px 0px 0px 1px inset;
				left: 230.093px;
				width: 1078.91px;
				top: 661px;
				height: 74px;
			}
 
 
				/* 23,225,000.00 */
				#n233_214 {
					font-family: "Open Sans";
					font-size: 20px;
					font-weight: 700;
					letter-spacing: 0px;
					color: rgb(27, 35, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 280px;
					line-height: 27px;
					height: 33px;
					right: 916px;
					top: 674px;
				}
 
				/* Updated 1min ago */
				#n233_215 {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					letter-spacing: 0px;
					color: rgb(52, 66, 72);
					vertical-align: middle;
					justify-content: flex-start;
					width: 201.968px;
					transform: translate(0px, 0px);
					line-height: 16.4063px;
					height: 27px;
					right: 992.242px;
					top: 706px;
				}
 
 
 
					/* Vector */
					#n233_218 {
						left: 86.9785%;
						right: 11.6427%;
						top: 77.11%;
						bottom: 21.4%;
					}
 
					/* 23,225,000.00 */
					#n233_219 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: 700;
						letter-spacing: 0px;
						color: rgb(158, 182, 128);
						vertical-align: middle;
						justify-content: flex-end;
						width: 263.71px;
						line-height: 27px;
						height: 27px;
						right: 210.531px;
						top: 686px;
					}
 
 
					/* Rectangle 4 */
					#n233_221 {
						background: rgb(98, 130, 57);
						left: 721px;
						width: 170px;
						top: 687px;
						height: 26px;
					}
 
					/* 23,225,000.00 */
					#n233_222 {
						font-family: "Open Sans";
						font-size: 20px;
						font-weight: 400;
						letter-spacing: 0px;
						color: rgb(27, 35, 38);
						vertical-align: middle;
						justify-content: flex-end;
						width: 236px;
						line-height: 27px;
						height: 27px;
						left: 673px;
						top: 685px;
					}
 
 
 
							/* Rectangle 3 */
							#n233_225 {
								box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
								left: 720px;
								width: 204px;
								top: 686px;
								height: 28px;
							}
 
 
 
 
					/* Rectangle 3 */
					#n233_157 {
						background: rgb(252, 254, 255);
						box-shadow: rgb(195, 195, 185) 0px 0px 0px 1px inset;
						left: 228px;
						width: 1078.91px;
						top: 306px;
						height: 74px;
					}
 
 
 
						/* 23,225,000.00 */
						#n233_160 {
							font-family: "Open Sans";
							font-size: 20px;
							font-weight: 700;
							letter-spacing: 0px;
							color: rgb(27, 35, 38);
							vertical-align: middle;
							justify-content: flex-start;
							width: 379.867px;
							line-height: 27px;
							height: 27px;
							right: 817.482px;
							top: 324px;
						}
 
						/* Created 40min ago */
						#n233_161 {
							font-family: "Open Sans";
							font-size: 14px;
							font-weight: 400;
							letter-spacing: 0px;
							color: rgb(52, 66, 72);
							vertical-align: middle;
							justify-content: flex-start;
							width: 201.968px;
							transform: translate(0px, 0px);
							line-height: 16.4063px;
							height: 27px;
							right: 995.381px;
							top: 352px;
						}
 
 
 
 
							/* 23,225,000.00 */
							#n233_165 {
								font-family: "Open Sans";
								font-size: 20px;
								font-weight: 700;
								letter-spacing: 0px;
								color: rgb(158, 182, 128);
								vertical-align: middle;
								justify-content: flex-end;
								width: 264.756px;
								line-height: 27px;
								height: 27px;
								right: 209.485px;
								top: 330px;
							}
 
							/* ls-dropdown */
							#n233_166 {
								width: 19.8829px;
								height: 21px;
								overflow: hidden;
								left: 1251.44px;
								top: 332px;
							}
 
								/* Vector */
								#n233_167 {
									right: 0.141553%;
									top: 23.94%;
									bottom: 12.26%;
								}
 
 
 
							/* 23,225,000.00 */
							#n233_170 {
								font-family: "Open Sans";
								font-size: 20px;
								font-weight: 400;
								letter-spacing: 0px;
								color: rgb(27, 35, 38);
								vertical-align: middle;
								justify-content: flex-end;
								width: 236px;
								line-height: 27px;
								height: 27px;
								left: 676px;
								top: 331px;
							}
 
							/* Rectangle 3 */
							#n233_171 {
								box-shadow: rgb(0, 0, 0) 0px 0px 0px 1px inset;
								left: 720px;
								width: 204px;
								top: 331px;
								height: 28px;
							}
 
							/* Rectangle 4 */
							#n233_172 {
								background: rgb(98, 130, 57);
								left: 721px;
								width: 25px;
								top: 332px;
								height: 26px;
							}
 
 
				/* Shadow 2.5 */
				#n233_151 {
					background: rgb(255, 255, 255);
					border-radius: 6px;
					box-shadow: rgb(41, 42, 40) 0px 0px 0px 0.5px inset;
					right: 133.446px;
					width: 102.554px;
					top: 359px;
					height: 60px;
				}
 
				/* 23,225,000.00 */
				#n233_152 {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0px;
					color: rgb(27, 35, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 27.2081px;
					line-height: 18.9px;
					height: 26px;
					right: 168.283px;
					top: 361px;
				}
 
				/* 23,225,000.00 */
				#n233_153 {
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0px;
					color: rgb(27, 35, 38);
					vertical-align: middle;
					justify-content: flex-start;
					width: 44px;
					line-height: 18.9px;
					height: 19px;
					right: 167.234px;
					top: 388px;
				}
